
body{background-image: url(https://www.alaraby.co.uk/sites/default/files/media/images/FF8DE37C-CB8A-4A34-AEEA-75629934DFDF.jpg)

 }
  header nav  {float : right;
  color: beige;
  text-decoration: none;}

 h2{ text-align: center}

 header{color: white;}
 main{color: white;}
 

 h2 #sa {display: inline-block}

footer{ color: white;
 text-align: center;}
